{
    "parser": "babel-eslint",
    "env": {
        "browser": true
    },
    "plugins": [
        "react"
    ],
    "extends": [
        "eslint:recommended",
        "plugin:react/recommended"
    ],
    "rules": {
      "react/destructuring-assignment": 0,
      "react/no-set-state": 0,
      "react/no-array-index-key": 0,
      "react/no-children-prop": 2,
      "react/prop-types": 0,
      "react/no-danger": 2,
      "react/jsx-max-props-per-line": [0, { "when": "multiline" }],
      "react/no-deprecated": 2,
      "react/no-direct-mutation-state": 2,
      "react/no-multi-comp": 0,
      "react/display-name": 0,
      "react/no-redundant-should-component-update": 2,
      "react/no-typos": 2,
      "quotes": [2, "single", { "avoidEscape": true, "allowTemplateLiterals": true }],
      "semi": [2, "never"],
      "react/jsx-wrap-multilines": ["error", {
          "declaration": false,
          "assignment": false,
          "return": false,
          "arrow": false
      }],
      "react/jsx-tag-spacing": [2, { "beforeSelfClosing": "always" }],
      "max-len": [2, 115, 2, {
          "ignoreUrls": true,
          "ignoreComments": false
      }]
    }
}
